<ion-header>
  <ion-navbar>
    <ion-title>
      Castillo
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

	<ion-list>
	  <ion-list-header>
	   <h2><b>Introducción</b></h2>
	  </ion-list-header>
	  <ion-item *ngFor="let accion of juego.getHistoria().getPresentacion()">
	  	<a *ngIf="accion.tipo==1" (click)="abrirURL(accion.url)">{{accion.url}}</a>
	  	<p *ngIf="accion.tipo==2" (click)="pantallaHistoria(accion.texto)">Historia</p>
	  	<p *ngIf="accion.tipo==3" (click)="pantallaHistoria(accion.adivinanza)">Adivinanza</p>
	  	<p *ngIf="accion.tipo==4">Enemigo</p>
	  </ion-item>
	</ion-list>


	<ion-list>
	  <ion-list-header>
	    <h2><b>Nudo</b></h2>
	  </ion-list-header>
	  <ion-item *ngFor="let accion of juego.getHistoria().getNudo()">
	  	<a *ngIf="accion.tipo==1" (click)="abrirURL(accion.url)">accion.url</a>
	  	<p *ngIf="accion.tipo==2" (click)="pantallaHistoria(accion.texto)">Historia</p>
	  	<p *ngIf="accion.tipo==3" (click)="pantallaHistoria(accion.adivinanza)">Adivinanza</p>
	  	<p *ngIf="accion.tipo==4">Enemigo</p>
	  </ion-item>
	</ion-list>


	<ion-list>
	  <ion-list-header>
	    <h2><b>Desenlace</b></h2>
	  </ion-list-header>
	  <ion-item *ngFor="let accion of juego.getHistoria().getDesenlace()" disabled>
	  	<a *ngIf="accion.tipo==1" (click)="abrirURL(accion.url)">accion.url</a>
	  	<p *ngIf="accion.tipo==2" (click)="pantallaHistoria(accion.texto)">Historia</p>
	  	<p *ngIf="accion.tipo==3" (click)="pantallaHistoria(accion.adivinanza)">Adivinanza</p>
	  	<p *ngIf="accion.tipo==4">Enemigo</p>
	  </ion-item>
	</ion-list>

</ion-content>
