<ion-header>
  <ion-navbar>
    <ion-title>
      <span class="textoEspecial">Castillo</span> <ion-icon name="clock" *ngIf="juego.getTiempoTotal()>0">{{juego.getTiempoTotal()}}</ion-icon>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

	<ion-list>
	  <ion-list-header>
	   <h2><b>Introducción</b></h2>
	  </ion-list-header>
	  <ion-item *ngFor="let accion of juego.getHistoria().getPresentacion()" 
	  					[class.correcto]="accion.estado" [class.incorrecto]="!accion.estado">
	  	<a *ngIf="accion.tipo==1" (click)="abrirURL(accion);">{{accion.url}}</a>
	  	<p *ngIf="accion.tipo==2" (click)="pantallaHistoria(accion,true)">Historia</p>
	  	<p *ngIf="accion.tipo==3"  (click)="pantallaHistoria(accion,false)">Adivinanza</p>
	  	<p *ngIf="accion.tipo==4" (click)="pantallaEnemigo(accion)">Enemigo</p>
	  </ion-item>
	</ion-list>


	<ion-list>
	  <ion-list-header>
	    <h2><b>Nudo</b></h2>
	  </ion-list-header>
	  <ion-item *ngFor="let accion of juego.getHistoria().getNudo()" [class.disabled]="!resolucionPresentacion"
	  				[class.correcto]="accion.estado" [class.incorrecto]="!accion.estado">
	  	<a *ngIf="accion.tipo==1" (click)="abrirURL(accion)">accion.url</a>
	  	<p *ngIf="accion.tipo==2" (click)="pantallaHistoria(accion,true)">Historia</p>
	  	<p *ngIf="accion.tipo==3" (click)="pantallaHistoria(accion,false)">Adivinanza</p>
	  	<p *ngIf="accion.tipo==4" (click)="pantallaEnemigo(accion)">Enemigo</p>
	  </ion-item>
	</ion-list>


	<ion-list>
	  <ion-list-header>
	    <h2><b>Desenlace</b></h2>
	  </ion-list-header>
	  <ion-item *ngFor="let accion of juego.getHistoria().getDesenlace()" [class.disabled]="!resolucionNudo"
	  			[class.correcto]="accion.estado" [class.incorrecto]="!accion.estado">
	  	<a *ngIf="accion.tipo==1" (click)="abrirURL(accion)">accion.url</a>
	  	<p *ngIf="accion.tipo==2" (click)="pantallaHistoria(accion,true)">Historia</p>
	  	<p *ngIf="accion.tipo==3" (click)="pantallaHistoria(accion,false)">Adivinanza</p>
	  	<p *ngIf="accion.tipo==4" (click)="pantallaEnemigo(accion)">Enemigo</p>
	  </ion-item>
	</ion-list>

</ion-content>
