<ion-header>
  <ion-navbar>
    <ion-title>
      <span class="textoEspecial">Castillo</span>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
	<ion-card>
		<span *ngIf="!secondParam">
		  <ion-card-header >
		    Adivinanza
		  </ion-card-header>

		  <ion-card-content>
		  	<ion-item>
		  		<ion-label>{{firstParam.adivinanza.pregunta}}</ion-label>
			</ion-item>	
			  <ion-item>
			    <ion-label floating>Respuesta</ion-label>
			    <ion-input type="text" [(ngModel)]="respuesta" (change)="respuestaCorrecta()"></ion-input>
			  </ion-item>


		  </ion-card-content>

		</span>

		<span *ngIf="secondParam">
		  <ion-card-header>
		    Ambientación
		  </ion-card-header>

		  <ion-card-content>
				<p>{{firstParam.texto}}</p>
		  </ion-card-content>
		</span>

	</ion-card>
</ion-content>
